h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
  background-color: yellow;
}

p {
  font-family: sans-serif;
  color: pink;
  font-weight: 700;
}

.shell {
  background-color: snow;
}

.shell div {
  background-color: pink;
  color: dodgerblue;
}
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  border: 1px solid red;
}

li.active > a {
  color: white;
  font-weight: 700;
}
